#portail{
  border-width:1px;
  border-style:solid;
  border-color: #74787B;
  font-size: 14px ;
  width : 210px ;
  text-align: center ;
  font-weight: normal;
  background-color: #71777A;
  font-family: sans-serif;
  color: #F7F8F4;
  }
.corp{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  height: 900px;
  background-color:  #71777A;
}
#option{
  margin-top: 45px ; 
  align-items: center;
  display: flex;
  justify-content: center; 
}
#mv{
  text-decoration: none ;
}
/* style des boutons radio */
.checkbox {
  display: block;
  position: relative;
  margin-top: 8px;
  padding-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.checkbox input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: grey;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.checkbox .checkmark:after {
  top: 3.3px;
  left: 3.5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
#IGN{
  background-color: #feffdb;
  width: 33.33%;
  text-align: center;
}
#mapG{
  height: 100%;
  width: 100%;
}
#mapI{
  height: 100%;
  width: 100%;
}
#mapOSM{
  height: 100%;
  width: 100%;
}

#GG{
  background-color: #ffe9fd;
    width: 33.33%;
    text-align: center;
}
#OSM{
  background-color:#f1f0ff;
    width: 33.33%;
    text-align: center;
}
#option{
  width: 100% ;

  border: none;
	display: flex;
	flex-direction: row;
  justify-content: flex-start;
  }
  #option2{
    width: 100% ;

    border: none;
  	display: flex;
  	flex-direction: row;
    justify-content: flex-start;
    }

#voiture{
  margin-left: 30px;
}
